In [2]:
import pandas as pd

In [22]:
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

# 학교 구로고 -> 가산고, 디지털고 -> 단지고 로 변경하시오.
# SW특기 소문자로 변경하시오.
# 4번 SW특기 -> Django
# 5번 SW특기 -> python
# 합계컬럼을 추가하시오.
# 결과컬럼을 추가해서 400점 이상은 pass, 아니면 fail 출력하시오.

filt = df['학교'] == '구로고'
df.loc[filt, '학교'] = '가산고'
filt = df['학교'] == '디지털고'
df.loc[filt, '학교'] = '단지고'

df.rename(columns={'SW특기': 'sw특기'}, inplace=True)

df.loc['4번', 'sw특기'] = 'Django'
df.loc['5번', 'sw특기'] = 'python'
df
df['합계'] = df['국어'] + df['영어'] + df['수학'] + df['과학'] + df['사회']
filt = df['합계'] >= 400

df.loc[filt, '결과'] = 'pass'
df.loc[~filt, '결과'] = 'fail'
df

       이름   학교    키   국어   영어   수학  과학  사회        sw특기   합계    결과
지원번호
1번    강나래  가산고  197   90   85  100  95  85      Python  455  pass
2번    강태원  가산고  184   40   35   50  55  25        Java  205  fail
3번    강호림  가산고  168   80   75   70  80  75  Javascript  380  fail
4번    김수찬  가산고  187   40   60   70  75  80      Django  325  fail
5번    김재욱  가산고  188   15   20   10  35  10      python   90  fail
6번    박동현  단지고  202   80  100   95  85  80           C  440  pass
7번    박혜정  단지고  188   55   65   45  40  35      PYTHON  240  fail
8번    승근열  단지고  190  100   85   90  95  95          C#  465  pass